/* General Page Styles */
.home-page1 {
  font-family: "Poppins";
  color: #333;
  margin: 0 auto;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures footer stays at the bottom */
}

/* Hero Section */
.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px; /* Adjusted to start after the header */
  margin-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Adjustments for padding of header */

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 2.5rem;
  color: #02b875;
}

.hero-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 10px;
  color: #343a40;
}

/* Overlapping Images */
.hero-image {
  position: relative;
  width: 400px;
  height: 300px;
}

.hero-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border-top-left-radius: 70px;
  transition: opacity 0.5s ease-in-out;
}

.hero-image img:nth-child(1) {
  opacity: 1;
  z-index: 2;
}

.hero-image img:nth-child(2) {
  opacity: 0;
  z-index: 1;
}

.hero-image:hover img:nth-child(1) {
  opacity: 0;
}

.hero-image:hover img:nth-child(2) {
  opacity: 1;
}

/* Most Picked Section */
.most-picked h2 {
  font-size: 2rem;
  color: #444;
  margin-bottom: 20px;
  text-align: center;
}

.picked-cards {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 40px;
}

.picked-cards .card {
  background-color: #02b875;

  background-position: center;
  background-size: cover;

  color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
  width: 150px;
}

/* Locations Section */
.locations {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  padding-left: 50px;
  margin-bottom: 40px;
}
.locations h2 {
  font-size: 1.8rem;
  color: #444;
  margin-bottom: 20px;
}

.location-button {
  background-color: #02b875;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.location-cards {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}

.location-cards .card {
  background-color: #cb0808;
  /* border: 1px solid #ddd; */
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
  width: 100px;
}

.court-card {
  width: 170px;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  box-shadow: inset;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.court-card:hover {
  transform: translateY(-5px);
}

.footer {
  background-color: #02b875;
  color: white;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  bottom: 0;
}

.footer-info,
.footer-links,
.footer-social {
  flex: 1;
}

.footer-info {
  padding-left: 50px;
}
.footer-links ul {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  margin: 5px 0;
  cursor: pointer;
}

.footer-social p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding-top: 150px;
  }

  .hero-text {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-image {
    max-width: 90%;
    margin: 0 auto;
  }

  .picked-cards {
    flex-direction: column;
    align-items: center;
  }

  /* .location-cards {
        flex-direction: column;
        align-items: center;
    } */

  /* .location-cards .card {
        width: 80%;
    } */
}

.picked-cards {
  display: flex;
  gap: 10px;
  margin-inline: 50px;
  height: 190px;
}

.picked-cards .card {
  min-width: 100px;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  transition: flex-grow 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  color: #ffffff;
  padding: 10px;
}

.picked-cards .card:hover {
  flex-grow: 5;
}

.picked-cards .card:hover .profile-image > svg {
  stroke: rgb(110, 252, 205);
}

.picked-cards .card-content .title {
  white-space: pre;
  margin-left: 10px;
  transform: translateX(100%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.picked-cards .card:hover .card-content .title {
  opacity: 1;
  transform: translateX(0);
}
