/* Main container styling */
.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f7f8; 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
  }
  
  /* Box styling */
  .reset-password-box {
    background-color: white;
    border: 2px solid #3282b8; /* Primary color from the theme */
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(209, 205, 205, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  /* Title styling */
  .title {
    font-size: 1.8rem;
    color: #185a8b; /* Dark primary color */
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  /* Description styling */
  .description {
    font-size: 1rem;
    color: #343a40; /* Dark text color */
    margin-bottom: 20px;
  }
  
  /* Input group styling */
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .label {
    font-size: 0.9rem;
    color: #185a8b; /* Dark primary color */
    margin-bottom: 8px;
    display: block;
    font-weight: bold;
  }
  
  .email-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .email-input:focus {
    border-color: #3282b8; 
    box-shadow: 0 0 5px rgba(50, 130, 184, 0.5);
  }
  
  /* Reset button styling */
  .verify-btn {
    background-color: #3282b8; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .verify-btn:hover {
    background-color: #185a8b; /* Dark primary color */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Error message styling */
  .error-message {
    color: #dc3545; /* Red color for error messages */
    font-size: 0.9rem;
    margin-top: 5px;
    text-align: left;
  }
  
  /* Success message styling */
  .success-message {
    color: #28a745; /* Green color for success */
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .success-message p {
    margin: 0;
  }
  
  .success-message button {
    background-color: #3282b8; /* Primary color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .success-message button:hover {
    background-color: #185a8b; /* Dark primary color */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Button to go back to login page */
  .login-btn {
    background-color: transparent;
    color: #3282b8; /* Primary color */
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  
  